<div class="container-fluid d-flex flex-column align-items-center px-0">
  <div class="col-12 position-relative">
    <img class="col-12 mt-5" src="/images/crane.png" alt="crane-image" />
    <h1 class="my-3">Автокранове Велико Търново</h1>
  </div>
  <section class="d-flex flex-column align-items-center mt-4">
    <h2>За нас</h2>
    <article style="text-align: center;">
      <p class="fs-4">
        Тур-92 предлага висококачествени услуги с автокранове във Велико Търново
        и региона.
      </p>

      <p class="fs-4">
        Нашият екип от професионалисти е на разположение да ви помогне при
        всякакви нужди, свързани с тежки повдигания и премествания.
      </p>
    </article>
  </section>
</div>
