h2 {
  font-size: 40px;
  font-weight: 700;
}

.slideshow {
  width: 85%;
  position: relative;
  img {
    aspect-ratio: 16/9;
    display: none;
    width: 100%;
    border-radius:  0.5em;
  }
  img.active {
    display: block;
  }
  .prev,
  .next {
    cursor: pointer;
    border: 0px;
    background: none;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.3rem;
    margin-top: -5%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: xx-large;
    transition: 0.2s ease;
    border-radius: 9px;
    user-select: none;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/*Dots*/

.dots-container {
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

h3 {
  font-size: xx-large;
}

span {
  font-size: larger;
}
