<div class="row container-fluid d-flex mt-2">
  <div class="col-1"></div>
  <app-info
    class="col-2"
    image="images/locationIcon.png"
    title="Нашият адрес: "
    info="гр. В. Търново, ул. Дълга лъка"
  />

  <div style="width: 1px; height: 20px" class="col- 1 ms-0 me-0">
    <span class="vertical-line"></span>
  </div>

  <app-info
    class="col-2"
    image="images/clock.png"
    title="Работно време: "
    info="от 8:00 до 17:00 ч."
  />

  <div style="width: 1px; height: 20px" class="col- 1 ms-0 me-0">
    <span class="vertical-line"></span>
  </div>

  <app-info
    class="col-2"
    image="images/phone.png"
    title="Телефон за връзка: "
    info="+ 359 87 843 6482"
  />
</div>
