.vertical-line {
    display: inline-block;
    width: 0.5px;
    height: 40px; /* Можете да промените височината според нуждите си */
    background-color: black; /* Можете да промените цвета според нуждите си */
    vertical-align: middle; /* Вертикално подравняване */
}