.vertical-line {
  display: inline-block;
  width: 1px;
  height: 50px; /* Можете да промените височината според нуждите си */
  background-color: #c7c8c9; /* Можете да промените цвета според нуждите си */
}
