<div class="container-fluid">
  <div class="row justify-content-center">
    <div
      class="col-xxl-10 d-flex align-items-center flex-column flex-xxl-row justify-content-between"
    >
      <h2 class="text-center text-xxl-start col-12 col-xxl-2 mb-0">ТУР-92</h2>
      <nav
        class="col-12 col-xxl-10 d-flex flex-column flex-xxl-row align-items-center justify-content-between"
      >
        <ul
          class="text-center text-xxl-start col-12 col-xxl-10 d-flex flex-column flex-xxl-row list-unstyled mb-0 me-auto"
        >
          <li class="mx-4 my-2"><span>За нас</span></li>
          <li class="mx-4 my-2"><span>Услуги</span></li>
          <li class="mx-4 my-2"><span>Автокранове</span></li>
          <li class="mx-4 my-2"><span>Контакти</span></li>
        </ul>
        <button class="col-10 col-md-4 col-xxl-2 btn btn-primary my-3 ms-3 py-3 fs-5">
          Направи запитване
        </button>
      </nav>
    </div>
  </div>
</div>
