<div class="container-fluid d-flex align-items-center">
  <div class="col-1"></div>
  <h2 class="col-2" style="font-size: 70px">Тур-92</h2>

  <nav class="d-flex col-8">
    <ul class="d-flex col-10">
      <li class="col-1 ms-1 me-3"><a href="#"> За нас</a></li>
      <li class="col-1 ms-3 me-3"><a href="#">Услуги</a></li>
      <li class="col-1 ms-3 me-5"><a href="#">Автокранове</a></li>
      <li class="col-1 ms-5 me-3"><a href="#">Контакти</a></li>
    </ul>

    <button class="col-2 btn btn-primary ms-5">Направи запитване</button>
  </nav>
</div>
