<div class="container-fluid">
  <div class="row justify-content-center">
    <div
      class="col-xxl-10 d-flex align-items-center flex-column flex-xxl-row justify-content-between"
    >
      <h2 class="text-center text-xxl-start col-12 col-xxl-2 mb-0">ТУР-92</h2>
      <nav
        class="col-12 col-xxl-10 d-flex flex-column flex-xxl-row align-items-center justify-content-between"
      >
        <ul
          class="text-center text-xxl-start col-12 col-xxl-10 d-flex flex-column flex-xxl-row list-unstyled mb-0 me-auto"
        >
          <li class="mx-4 my-2">
            <span> <a href="#about-us">За нас</a></span>
          </li>
          <li class="mx-4 my-2">
            <span><a href="#crane-services">Услуги</a> </span>
          </li>
          <li class="mx-4 my-2">
            <span><a href="#auto-crane">Автокранове</a> </span>
          </li>
          <li class="mx-4 my-2">
            <span><a href="#location">Локация</a></span>
          </li>
        </ul>
        <button
          class="col-10 col-md-4 col-xxl-2 btn btn-primary my-3 ms-3 py-3 fs-5"
        >
          <a href="#contact-us">Свържете се с нас</a>
        </button>
      </nav>
    </div>
  </div>
</div>
