h2 {
  font-size: 40px;
  font-weight: 700;
}

.background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-sizing: border-box;
}

.form-background {
  border-radius: 9px; 
  background-color: #f4f6fa;
}

.img-container {
  position: relative;
  width: 100%;
  height: 1000px;
}