<section class="container-fluid p-0">
  <div class="img-container position-relative w-100">
    <img class="mb-5 background-image" src="images/image.png" alt="" />
    <div class="form-overlay d-flex justify-content-center align-items-center">
      <div
        class="col-xxl-7 col-11 d-flex flex-column align-items-center justify-content-center 
        gap-lg-4 py-3 form-background"
      >
        <h2 class="text-dark">Въпроси</h2>

        <p class="text-dark fs-3">
          Тук може да се свържите с нас като ни изпратите имейл.
        </p>

        <app-form class="col-xxl-8 col-12" />
      </div>
    </div>
  </div>
</section>
