/* You can add global styles to this file, and also import other style files */

$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap";

body {
  background-color: gray;
}

* {
  scrollbar-width: none;
}

.icon {
  height: 30px;
  width: 30px;
}
